.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
}
.title {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
}

.input {
    min-width:100%;
    font-family: 'Poppins', sans-serif;
    /*color: #373a3c;*/
    font-weight: bold;
    outline: 0;
    border: 1px solid #666;
    border-radius: 3px;
    padding: .5rem 1rem;
    margin-bottom: 20px;
    /*background-color: #ECF0F5;*/
}
.input:focus {
    border-color: inherit;
    border-bottom: 2px solid #ddd;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}
.btn {
    height: 40px;
    width: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background-color:#000000;
}
.link {
    margin: 10px;
    height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: slategrey;
    font-family: 'Old Standard TT', serif;
    /*background-color: cornsilk;*/
    background-color: #d5e1df;
    font-weight: bold;
}