.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px;
    position: relative;
    /*background-color: #f8f9fa;*/
}

.title {
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    background-color: #c0ded9;
}

.brownC {
    position: absolute;
    left: -7em;
    top: 12em;
}

.redC {
    position: absolute;
    right: -4em;
    top: 29em;
}
