.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 15px;
    padding: 15px;
}

.title {
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.nav {
    text-decoration: none;
    color: rgba(0,0,0,1)!important;;
}