.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 50px;
    padding: 10px;
}

.wrapper > form > div {
    display: flex;
    justify-content: center;
}
