.routePath {
    margin: 10px;
    height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: slategrey;
    font-family: 'Old Standard TT', serif;
    /*background-color: cornsilk;*/
    background-color: #d5e1df;
    font-weight: bold;
}